.container {
  @media (max-width: 320px) {
    padding: 50px 10px;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    padding: 50px 10px;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    padding: 100px 100px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    padding: 100px 100px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    padding: 100px 100px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    padding: 100px 100px;
  }

  > h2 {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

  .cardWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}

.cardContainer {
  width: 550px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h3 {
    margin: 32px 0 16px 0;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  > p {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
}
