.containerContent {
  display: flex;
  margin: 100px auto;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 320px) {
    width: 100vw;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100vw;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 768px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 1024px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1399px) {
    width: 1000px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 1200px;
  }

  > span {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
  }
}

.journeyWrapperLeft {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 320px) {
    width: 100vw;
    flex-direction: column;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100vw;
    flex-direction: column;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 768px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 1024px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1399px) {
    width: 1000px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 1200px;
  }

  > div {
    width: 450px;
    margin-left: 50px;

    @media (max-width: 320px) {
      width: 90vw;
      margin-left: 10px;
    }

    //320px — 480px: Mobile devices
    @media (min-width: 320px) and (max-width: 480px) {
      width: 95vw;
      margin-left: 10px;
    }

    > span {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #959595;
    }

    > h5 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      color: #000000;
    }

    > p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      color: #000000;
    }
  }
}

.journeyWrapperRight {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 320px) {
    width: 100vw;
    flex-direction: column;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100vw;
    flex-direction: column;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 768px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 1024px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1399px) {
    width: 1000px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 1200px;
  }

  > div {
    width: 450px;
    margin-left: 50px;

    @media (max-width: 320px) {
      width: 90vw;
      margin-left: 10px;
    }

    //320px — 480px: Mobile devices
    @media (min-width: 320px) and (max-width: 480px) {
      width: 95vw;
      margin-left: 10px;
    }

    > span {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #959595;
    }

    > h5 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      color: #000000;
    }

    > p {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      color: #000000;
    }
  }
}
