.containerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 320px) {
    width: 100vw;
    margin: 100px 0px;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100vw;
    margin: 100px 0px;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 768px;
    margin: 100px 10px !important;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 1024px;
    margin: 100px auto;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    width: 1000px;
    margin: 100px auto;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 1200px;
    margin: 100px auto;
  }
}

.contentTextWrapper {
  @media (max-width: 320px) {
    width: 100vw;
    margin-top: 40px;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100vw;
    margin-top: 50px;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 480px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 500px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    width: 500px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 500px;
  }

  > h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #000000;

    @media (max-width: 320px) {
      width: 100vw;
      padding: 0px 5px;
      font-size: 18px;
      line-height: 24px;
    }

    //320px — 480px: Mobile devices
    @media (min-width: 320px) and (max-width: 480px) {
      width: 100vw !important;
      padding: 0px 10px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  > h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin-top: 8px;

    @media (max-width: 320px) {
      width: 100vw;
      padding: 0px 5px;
      font-size: 12px;
      line-height: 32px;
    }

    //320px — 480px: Mobile devices
    @media (min-width: 320px) and (max-width: 480px) {
      width: 100vw !important;
      padding: 0px 10px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  > p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    margin-top: 32px;

    @media (max-width: 320px) {
      width: 100vw;
      padding: 0px 5px;
    }

    //320px — 480px: Mobile devices
    @media (min-width: 320px) and (max-width: 480px) {
      width: 100vw !important;
      padding: 0px 10px;
    }
  }
}

.imgDisplayWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 320px) {
    width: 320px;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 320px;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 480px;
    margin-right: 20px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 500px;
    margin-right: 20px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    width: 500px;
    margin-right: 20px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 500px;
    margin-right: 20px;
  }
}

.imgDisplay {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 10px;
  object-fit: cover;
  @media (max-width: 320px) {
    width: 320px;
    height: 320px;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 320px;
    height: 320px;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 480px;
    height: 480px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 500px;
    height: 500px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    width: 500px;
    height: 500px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 500px;
    height: 500px;
  }
}

.imgCatalogueWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;

  @media (max-width: 320px) {
    width: 320px;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 320px;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 480px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 500px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    width: 500px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 500px;
  }

  .left {
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .right {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }
}

.imgCatalogue {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: 320px) {
    width: 40px;
    height: 40px;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 70px;
    height: 70px;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 100px;
    height: 10px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 120px;
    height: 120px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    width: 120px;
    height: 120px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 120px;
    height: 120px;
  }
}

.buttonWrapper {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  @media (max-width: 320px) {
    width: 320px;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 320px;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 480px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 500px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    width: 500px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 500px;
  }

  > a {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    margin-right: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }

    > span {
      color: #333333;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }

    > svg {
      margin-left: 12px;
    }
  }
}

.specificationWrapper {
  margin-top: 64px;
  font-family: "Montserrat", sans-serif;

  @media (max-width: 320px) {
    width: 100vw;
    margin: 10px;
    margin-top: 40px;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100vw;
    margin: 10px;
    margin-top: 40px;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    width: 768px;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 1024px;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    width: 1000px;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    width: 1000px;
  }

  > h5 {
    font-weight: 700;
  }

  .specification {
    margin-top: 32px;
    > ul {
      display: flex;
      flex-direction: column;
      color: #338e4f;
      padding-left: 16px;
      font-family: "Montserrat", sans-serif;

      //769px — 1024px: Small screens, laptops
      @media (min-width: 769px) and (max-width: 1024px) {
        flex-wrap: wrap;
        height: 80px;
      }

      //1025px — 1200px: Desktops, large screens
      @media (min-width: 1025px) and (max-width: 1200px) {
        flex-wrap: wrap;
        height: 80px;
      }

      //1201px and more —  Extra large screens, TV
      @media (min-width: 1400px) {
        flex-wrap: wrap;
        height: 80px;
      }

      span {
        font-family: "Montserrat", sans-serif;
        color: black;
      }
    }
  }
}
