.container {
  @media (max-width: 320px) {
    height: 30vh;
  }

  //320px — 480px: Mobile devices
  @media (min-width: 320px) and (max-width: 480px) {
    height: 50vh;
  }

  //481px — 768px: iPads, Tablets
  @media (min-width: 481px) and (max-width: 768px) {
    height: 50vh;
  }

  //769px — 1024px: Small screens, laptops
  @media (min-width: 769px) and (max-width: 1024px) {
    height: 100vh;
  }

  //1025px — 1200px: Desktops, large screens
  @media (min-width: 1025px) and (max-width: 1200px) {
    height: 100vh;
  }

  //1201px and more —  Extra large screens, TV
  @media (min-width: 1400px) {
    height: 100vh;
  }

  .jumbotron {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 320px) {
      padding: 0 10px;
    }

    //320px — 480px: Mobile devices
    @media (min-width: 320px) and (max-width: 480px) {
      padding: 0 10px;
    }

    //481px — 768px: iPads, Tablets
    @media (min-width: 481px) and (max-width: 768px) {
      padding: 0 50px;
    }

    //769px — 1024px: Small screens, laptops
    @media (min-width: 769px) and (max-width: 1024px) {
      padding: 0 100px;
    }

    //1025px — 1200px: Desktops, large screens
    @media (min-width: 1025px) and (max-width: 1200px) {
      padding: 0 100px;
    }

    //1201px and more —  Extra large screens, TV
    @media (min-width: 1400px) {
      padding: 0 100px;
    }

    > span {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
    }

    > h1 {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      text-align: left;

      @media (max-width: 320px) {
        font-size: 24px;
        width: 300px;
        line-height: 32px;
      }

      //320px — 480px: Mobile devices
      @media (min-width: 320px) and (max-width: 480px) {
        font-size: 24px;
        width: 300px;
        line-height: 32px;
      }

      //481px — 768px: iPads, Tablets
      @media (min-width: 481px) and (max-width: 768px) {
        font-size: 48px;
        width: 560px;
        line-height: 60px;
      }

      //769px — 1024px: Small screens, laptops
      @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 48px;
        width: 560px;
        line-height: 60px;
      }

      //1025px — 1200px: Desktops, large screens
      @media (min-width: 1025px) and (max-width: 1200px) {
        font-size: 48px;
        width: 560px;
        line-height: 60px;
      }

      //1201px and more —  Extra large screens, TV
      @media (min-width: 1400px) {
        font-size: 48px;
        width: 560px;
        line-height: 60px;
      }
    }

    > h3 {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;

      @media (max-width: 320px) {
        font-size: 12px;
        line-height: 18px;
      }

      //320px — 480px: Mobile devices
      @media (min-width: 320px) and (max-width: 480px) {
        font-size: 16px;
        line-height: 24px;
      }

      //481px — 768px: iPads, Tablets
      @media (min-width: 481px) and (max-width: 768px) {
        font-size: 18px;
        line-height: 24px;
      }

      //769px — 1024px: Small screens, laptops
      @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 24px;
        line-height: 34px;
      }

      //1025px — 1200px: Desktops, large screens
      @media (min-width: 1025px) and (max-width: 1200px) {
        font-size: 24px;
        line-height: 34px;
      }

      //1201px and more —  Extra large screens, TV
      @media (min-width: 1400px) {
        font-size: 24px;
        line-height: 34px;
      }
    }

    > button {
      margin-top: 56px;
      border: 1px solid #ffffff;
      border-radius: 6px;
      padding: 10px 24px;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      background-color: transparent;

      &:hover {
        color: #338e4f;
        background-color: #ffffff;
      }
    }
  }
}
